<!DOCTYPE html>
<html lang="en">
<head>
<title>Python3 Flask</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../static/styles.css">

</head>
<body>
	<div class="card">
		<button onclick="myFunction()">Click me</button>
	</div>
		
	<script src="../static/helloworld.js"></script> 
</body>
</html> 
